/home/xiongbutian/workspace/SA-GS/dynamic_training/logs
/home/xiongbutian/workspace/SA-GS/dynamic_training/output_alpha_constrain_eval
/home/xiongbutian/workspace/SA-GS/geometry_measurement/logs
/home/xiongbutian/workspace/SA-GS/10F_geometric_complexity.csv
/home/xiongbutian/workspace/SA-GS/GroundedSAM_LITE/10F
/home/xiongbutian/workspace/SA-GS/GroundedSAM_LITE/logs
/home/xiongbutian/workspace/SA-GS/GroundedSAM_LITE/output/10F